<div class="row">
  <h1>
    My News Room
  </h1>
</div>

<div class="row">
  <form>
    <div class="form-group">
      <label for="searchField"></label>
      <input type="text" id="searchField" ng-model="searchTerm" />
    </div>
    <div class="form-group">
      <a class="btn btn-default" href=""
         ng-click="searchJuicer()">Search</a>
    </div>
  </form>
</div>

<div class="row">
  <br/>
  <h2>Main Article</h2>
  <h3>{{mainJournal.title}}</h3>
  <p>{{mainJournal.body}}</p>
</div>

<div class="row">
  <br/>
  <h3>
    Top 5 articles
  </h3>
  <ul id="topFive">
    <li class="articleDesc" ng-repeat="desc in articleDescriptions">
      {{desc}}
    </li>
  </ul>
</div>

<div class="row marketing">
  <h3>Belgium Chronicle</h3>
  <p>
    <h4><em>{{belgiumJournal.title}}
        </em>
    </h4>
    <p>{{belgiumJournal.body}}</p>
  </p>

  <h3>French News</h3>
  <p>
  <h4><em>{{frenchJournal.title}}
      </em>
  </h4>
  <p>{{frenchJournal.body}}</p>
  </p>

  <h3>Portuguese Times</h3>
  <p>
  <h4><em>{{portugueseJournal.title}}
      </em>
  </h4>
  <p>{{portugueseJournal.body}}</p>
  </p>

</div>
