<div class="row">
  <img src="image/logo.png">
</div>

<div class="row">
  <br/>
  <!--<form>-->
  <form class="form-inline" id="searchForm">
    <div class="form-group">
      <label for="searchField"></label>
      <input type="text" class="form-control" id="searchField" ng-model="searchTerm" />
      <!--<input type="submit" id="searchField" ng-model="searchTerm" />-->
      <!--<input type="submit" style="display: none" />-->
    </div>
    <div class="form-group">
      <a class="btn btn-default" href=""
         ng-click="searchJuicer()">Search</a>
      <!--<button type="submit" ng-click="searchJuicer()" value="default action">Search</button>-->
    </div>
  </form>
</div>

<div class="row">
  <br/>
  <h2>24-hour News Channel</h2>
  <h3>{{mainJournal.title}}</h3>
  <p>{{mainJournal.body}}</p>
</div>

<div class="row">
  <br/>
  <h3>
    Top 5 articles
  </h3>
  <ul id="topFive">
    <li class="articleDesc" ng-repeat="desc in articleDescriptions">
      {{desc}}
    </li>
  </ul>
</div>

<div class="row marketing">
  <div class="col-xs-12 col-md-4">
    <h3>Belgium Chronicle</h3>
    <p>
      <h4><em>{{belgiumJournal.title}}
          </em>
      </h4>
      <p>{{belgiumJournal.body}}</p>
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3>Le Monde</h3>
    <p>
    <h4><em>{{frenchJournal.title}}
        </em>
    </h4>
    <p>{{frenchJournal.body}}</p>
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3>Portuguese Times</h3>
    <p>
    <h4><em>{{portugueseJournal.title}}
        </em>
    </h4>
    <p>{{portugueseJournal.body}}</p>
    </p>
  </div>
</div>
